.section {
  padding: 5rem 0;
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 576px) {
  .section-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.search-form {
  text-align: center;
  padding-top: 5rem;
  width: 85vw;
  max-width: 500px;
  margin: 0 auto;
}

.search-form h2 {
  margin-bottom: 1.5rem;
}

.search-form button {
  cursor: pointer;
}

.cocktails {
  position: relative;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.cocktail {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 3rem;
  position: relative;
}

.cocktail:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.005);
}

.cocktail img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  border: 10px solid var(--clr-white);
  transition: var(--transition);
  height: 268px;
  object-fit: cover;
}

.cocktail:hover img {
  filter: blur(2px) grayscale(50%);
}

.cocktail h3 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem 1.5rem;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
  border-radius: var(--radius);
}
