.addItems {
  @include container;
  background: #4d7ea8;

  &-action {
    @include action;
  }

  &-title {
    @include title;
    color: #b6c2d9;
  }

  &-input {
    background: transparent;
    border: none;
    border-bottom: 5px solid #9e90a2;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
    color: #9e90a2;
    outline: none;
    text-transform: uppercase;
  }

  &-submit {
    @include button;
    color: #b6c2d9;
    background: transparent;
    border: 3px solid #b6c2d9;
    transition: all 1s ease;
    &:hover {
      background: #b6c2d9;
      color: #272932;
    }
  }
}
