@use 'mixins';
@use 'add-items';
@use 'display-items';

.alert {
  @include mixins.flash();
  color: red;
  border-color: red;
}

.success {
  @include mixins.flash();
  color: green;
  border-color: green;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 50%;
  }
}
