@mixin container {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 2px solid #272932;
  box-shadow: 0 5px 10px #272932;
}

@mixin title {
  text-transform: capitalize;
}

@mixin action {
  border: 2px solid #272932;
  padding: 0.5rem 0;
  text-transform: capitalize;
  border-radius: 0.5rem;
  display: none;
}

@mixin button {
  display: block;
  width: 80%;
  margin: 2rem auto 0 auto;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

@mixin flash {
  display: block;
  margin-bottom: 0.5rem;
}
