* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$lightBlue: #a7cdbd;
$lightGreen: #bbe1c3;
$brown: #91785d;
$darkGreen: #869d7a;

body {
  display: grid;
  grid-template-columns: 80%;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  background: $lightBlue;
}

.main-search {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 0.25rem solid $brown;
  font-size: 3rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  color: $brown;
  outline: none;
  &::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}

.main-btn {
  cursor: pointer;
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 0.25rem;
  background: transparent;
  color: $brown;
  border: 0.15rem solid $brown;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
    background: $brown;
    color: $lightBlue;
  }
}

.loading-icon {
  display: none;
  width: 50px;
  margin: 1rem auto;
}

.search-item {
  text-align: left;
  list-style-type: none;
  border: 0.05rem solid $darkGreen;
  padding: 1rem;
  margin: 1rem 0;
  background: $lightGreen;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px $darkGreen;
  &__title {
    letter-spacing: 0.05rem;
  }
  &__text {
    margin: 0.5rem 0;
  }
  &__link {
    text-decoration: none;
    color: $brown;
    font-size: 1.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $darkGreen;
    }
  }
}

@media screen and (min-width: 992px) {
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
