.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient($yellowTransparent, $yellowTransparent),
    url('img/headerBcg.jpeg') center/cover fixed no-repeat;
  position: relative;
}

.banner {
  color: $mainWhite;
  margin-top: -4rem;
  .banner-title {
    color: $mainPink;
    font-size: 4rem;
  }
  .banner-link {
    font-size: 1.5rem;
    color: $mainBlack;
    border: 0.2rem solid $mainBlack;
    &:hover {
      background: $mainBlack;
      color: $mainPink;
    }
  }
}
