.cart-info {
  border: 0.1rem solid $mainBlack;
  color: $mainBlack;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  .cart-info__icon {
    color: $mainBlack;
    cursor: pointer;
  }
  &:hover {
    background: $mainPink;
    border-color: $mainPink;
    color: $mainWhite;
    .cart-info__icon {
      color: $mainWhite;
    }
  }
}
