@use 'variables';

.cart-info {
  border: 0.1rem solid variables.$mainBlack;
  color: variables.$mainBlack;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  .cart-info__icon {
    color: variables.$mainBlack;
    cursor: pointer;
  }
  &:hover {
    background: variables.$mainPink;
    border-color: variables.$mainPink;
    color: variables.$mainWhite;
    .cart-info__icon {
      color: variables.$mainWhite;
    }
  }
}
