.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
  .lightbox-holder {
    position: relative;
    .lightbox-close {
      color: $mainPink;
      font-size: 3rem;
      transition: all 1s ease-in-out;
      cursor: pointer;
      &:hover {
        color: $mainYellow;
      }
    }
    .lightbox-item {
      min-height: 80vh;
      background-image: url('https://via.placeholder.com/800x600');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 0.3rem;
    }
    .lightbox-control {
      position: absolute;
      font-size: 4rem;
      color: $mainPink;
      transition: all 1s linear;
      cursor: pointer;
      &:hover {
        color: $mainYellow;
      }
    }
    .btnLeft {
      top: 50%;
      left: 0;
      transform: translateX(-60%);
    }
    .btnRight {
      top: 50%;
      right: 0;
      transform: translateX(60%);
    }
  }
}
