@use 'variables';
@use 'about';
@use 'banner';
@use 'cart';
@use 'info-icons';
@use 'lightbox';
@use 'nav-links';
@use 'store-items';
@use 'scroll-top-btn';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kaushan Script', cursive;
  background: variables.$mainWhite;
  color: variables.$mainBlack;
}

.search-box {
  background: variables.$mainPink;
  color: variables.$mainBlack;
}
