@use 'variables';

.navbar-toggler {
  outline: none !important;
  .toggler-icon {
    font-size: 2.5rem;
    color: variables.$mainPink;
  }
}

.nav-link {
  color: variables.$mainPink;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: variables.$mainBlack;
  }
}
