body {
  background: lightgray;
}

.input-field .postfix ~ input {
  width: calc(100% - 3rem);
  margin-left: 0;
  margin-right: 3rem;
}

.input-field .postfix {
  position: absolute;
  top: 12px;
  width: 2.5rem;
  right: 0;
  font-size: 2rem;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.input-field .postfix.active,
.postfix:hover {
  color: #26a69a;
}

.postfix:hover {
  cursor: pointer;
}
